#div1{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: rgba(0, 255, 255, 0.301);
    transform: rotate(120deg);
}
#div2{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 15%;
    left: 60%;
    background-color: rgba(0, 255, 255, 0.301);
    transform: rotate(-120deg);
}
#div3{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 47%;
    background-color: rgba(228, 231, 67, 0.945);
    transform: rotate(120deg);
}
#div4{
    height: 50px;
    width: 300px;
    position: absolute;
    top: 80%;
    left: 38%;
    background-color: rgba(45, 93, 223, 0.301);
   border-radius: 34% 100% 30% 30% / 0% 0% 100% 100%  ;
}
#div5{
    height: 20px;
    width: 130px;
    position: absolute;
    top: 3%;
    left: 28%;
    background-color:brown;
   border-radius: 34% 100% 30% 30% / 0% 0% 100% 100%  ;
   transform: rotate(-160deg);
}
#div6{
    height: 20px;
    width: 130px;
    position: absolute;
    top: 3%;
    left: 59%;
    background-color: brown;
   border-radius: 34% 100% 30% 30% / 0% 0% 100% 100%  ;
   transform: rotate(160deg);
}